#parent {
  background-color: #845ec2;
  width: 500px;
  height: 500px;
  top: 10px;
  left: 10px;
  position: relative;
}
div {
  text-align: center;
  color: white;
  line-height: 100px;
}
#one {
  background-color: #ff5e78;
  width: 200px;
  height: 100px;
  top: 0px;
  left: 10px;
  position: sticky;
}
#two {
  background-color: #ffcc29;
  width: 200px;
  height: 100px;
  /* top: 5px;
  left: 100px;
  position: relative; */
}
#three {
  background-color: #295939;
  width: 200px;
  height: 100px;
}
p {
  font-family: "Architects Daughter", cursive;
}
